BACKEND_URL=http://localhost:8000
MACHINE_CODE=MACHINE_A
MACHINE_API_KEY=dev-machine-key
TELEMETRY_INTERVAL=1.0
CYCLE_SECONDS=0.6
RATED_RPM=3000
# none | bearing_overheat | imbalance
FAULT_MODE=none
FAULT_AFTER_SECONDS=30
